h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: #7a0e09;
    display: flex;
    justify-content: right;
    margin-right: 5rem;
    text-decoration: underline;
}
form {
    background-color: #a6a7a8;
    display: flex;
    flex-flow: column wrap;
}
label, span {
    margin-left: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
}

.txt, textarea {
    margin-top: 2rem;
    min-width: 45rem;
    min-height: 2rem;
}
span {
    align-self: flex-start;
    margin-right: 4em;
}
button {
    font-size: large;
    max-width: 6rem;
    background-color: #0b940b;
    align-self: center;
    margin: 2rem;
}
.selectable {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 12rem;
    margin-right: 35rem;
    margin-top: 2rem;
}
.selectable span {
    align-self: flex-start;
    margin: 0.5rem;
}
.selectable label {
    width: 20rem;
    display: inline-flex;
    margin: 0;
}
