h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: #7a0e09;
    display: flex;
    justify-content: right;
    margin-right: 5rem;
    text-decoration: underline;
}
form {
    background-color: #a6a7a8;
    display: flex;
    flex-flow: column wrap;
}
label, span {
    /*margin-left: 3rem;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 1rem;
}

input, textarea {
    margin-top: 2rem;
    min-width: 45rem;
    min-height: 2rem;
}
.selectable {
    /*flex-direction: row;*/
    /*justify-content: left;*/
}
.selectable input {
    max-width: 1rem;
}